<!-- {{favourites}} <br/> -->

<div class="col-md-6" ng-repeat="favourite in favourites">
<div class="panel panel-default">
  <div class="panel-heading">
    <span class="panel-title" data-toggle="collapse" data-target="#{{favourite.id}}">{{favourite.header}}</span>
     <div class="pull-right">
    <button class="btn" ng-click="delFromFav(favourite)" style="background-color:transparent; padding:0px;">
        <span><img src="../images/ic_close_grey.png" style="margin-top:-3px" title="remove from favorites"></span></button>
      </div>
  </div>
  <div class="panel-body collapse in" id="{{favourite.id}}">
     <div ng-if="favourite.headerDescription" ng-bind-html="favourite.headerDescription | unsafe" style="padding-bottom:20px"> </div> 
     
     <div ng-repeat="content1 in favourite['contentArray']" >
     <div class="panel-title" ng-if="content1.subContentTitle" style="padding-top:10px"> {{content1.subContentTitle}}</div>
    <div ng-repeat="subSection in content1['subContents']" style="padding-bottom:20px" >
       <div ng-if="subSection.link">  <a class="bold-link" ng-href="{{subSection.link}}" >
        {{subSection.linkTitle}}</a> 
       </div>
      <div ng-if="!subSection.link"> {{subSection.linkTitle}}</div>
       <div ng-if="subSection.smallImg && !subSection.bigImg">
        <img ng-src="{{subSection.smallImg}}" class="img-responsive img-circle padding-to-image" align="left"/>
        <p ng-if="subSection.description" ng-bind-html="subSection.description | unsafe"> </p> 
      </div> 
     <div ng-if="subSection.bigImg && !subSection.smallImg">
        <img ng-src="{{subSection.bigImg}}" class="img-responsive img-rounded" />
        <div ng-if="subSection.description" ng-bind-html="subSection.description | unsafe"> </div> 
      </div>
      <div ng-if="!subSection.bigImg && !subSection.smallImg">
        <div ng-if="subSection.description" ng-bind-html="subSection.description | unsafe"> </div> 
      </div>
    </div>
</div>
  </div>
</div>
</div>